@mixin menubar_menuitem() {
  menubar > menuitem, .menubar > menuitem {
    padding: 3px 5px;
    border: 1px solid transparent;
    color: $menubar_fg_color;
    background-color: transparent;

    &:hover {
      border-color: $borders;
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:disabled {
      color: $disabled_fg_color;
      background-color: transparent;
    }

    &:backdrop {
      color: $unfocused_fg_color;
      background-color: transparent;
    }
  }
}
