@mixin images() {
  image {
    color: currentColor;

    &:hover {
      color: currentColor;
    }

    &:selected, &:selected:hover {
      color: $selected_fg_color;
    }
    
    &:disabled {
      color: currentColor;
    }

    view &, view &:hover {
      color: currentColor;
    }

    view &:selected, view &:selected:hover {
      color: $selected_fg_color;
    }
  }
}
